<div class="aniFadeIn">

  <main-container>
    <div class="container">
      <div class="row" style="padding-top: 74px">
        <div class="col-md-12" style="text-align: center;color: white;z-index: 10">
          <h1 style="font-size: 36px;font-weight: bold">Contact</h1>

          <p style="font-size: 18px;">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
            eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes. Lorem ipsum dolor
            sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque
            penatibus et magnis dis parturient montes</p>
        </div>
      </div>
    </div>
    <wave wave-type="'waveTwo waveGreen1 hidden-xs hidden-sm'"></wave>
    <wave wave-type="'waveTwo waveGreen2'"></wave>
    <wave wave-type="'waveThree waveGreen3'"></wave>
    <overlapper-white></overlapper-white>
  </main-container>


  <main-container background="'white'" min-height="645">
    <div class="container">
      <div class="row" style="padding-top: 180px">
        <div class="col-md-12 social-icon-bar" style="text-align: center">
          <a href="https://www.facebook.com/kristianfp"><i class="fa fa-facebook-square fa-3x"></i></a>
          <a href="https://dk.linkedin.com/in/kristian-fl%C3%B8jman-pedersen-63541b30"><i
            class="fa fa-linkedin-square fa-3x"></i></a>
        </div>
      </div>
    </div>
    <overlapper-black top="240"></overlapper-black>
  </main-container>
</div>







