<div class="aniFadeIn">
  <main-container min-height="720">
    <div class="container">
      <div class="row" style="padding-top: 60px">
        <div class="col-md-12" style="text-align: center;color: white">
          <img style="max-width: 500px;margin-bottom: 25px" ng-src="{{pageData.image}}" alt="">
          <h1 style="font-weight: bold" ng-bind="pageData.headline"></h1>
          <p ng-bind="pageData.text"></p>
        </div>
      </div>
    </div>
    <overlapper-white top="555"></overlapper-white>
  </main-container>


  <main-container background="'white'">

    <div class="container">
      <div class="row" style="padding-top: 60px">
        <div class="col-xs-6 col-md-3">
          <a href="#" class="thumbnail">
            <img style="height: 160px;" src="http://placehold.it/650x350" alt="...">
          </a>
        </div>
        <div class="col-xs-6 col-md-3">
          <a href="#" class="thumbnail">
            <img style="height: 160px;" src="http://placehold.it/650x350" alt="...">
          </a>
        </div>
        <div class="col-xs-6 col-md-3">
          <a href="#" class="thumbnail">
            <img style="height: 160px;" src="http://placehold.it/650x350" alt="...">
          </a>
        </div>
        <div class="col-xs-6 col-md-3">
          <a href="#" class="thumbnail">
            <img style="height: 160px;" src="http://placehold.it/650x350" alt="...">
          </a>
        </div>


      </div>

    </div>

    <overlapper-black height="320" top="70"></overlapper-black>
  </main-container>

</div>
